$bp-large: 64em; // 1024px
$bp-medium: 54em; // 864px
$bp-msmall: 48em;
$bp-small: 35em;

$color-primary: #75d8cd;
$color-bg: lighten(black, 10%);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;

    @media only screen and (max-width: $bp-medium) {
        font-size: 50%;
    }
}

body {
    background-color: $color-bg;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 2rem 5rem 2rem 5rem;

    @media only screen and (max-width: $bp-msmall) {
        padding: 1rem;
    }
}

#gameArea {
  position: relative;
  background-color: $color-bg;
  height: 100%;
  width: 100%;
  margin: 2rem;

  @media only screen and (max-width: $bp-msmall) {
      margin: 0;
      padding: 1rem;
  }
}

.configs {
    display: flex;
    flex-direction: row;
    align-items: center;
    //padding: 1rem;


    &__option {
        color: white;
        margin: 5px;
        font-size: 1.6rem;
        text-transform: uppercase;
        font-weight: 300;
        padding: 1rem;
        border: 1px dotted white;
        cursor: pointer;
        font-weight: 600;
        transition: all 0.7s;

        @media only screen and (max-width: $bp-msmall) {
            font-size: 1rem;
        }

        &:hover {
            background-color: $color-primary;
            color: black;
            //font-weight: 600;
        }
    }

    &__option-selected {
        background-color: $color-primary !important;
        color: black !important;
    }
}

.heading {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 1px dashed lightgrey;

    @media only screen and (max-width: $bp-small) {
        flex-direction: column;
    }
}

h1 {
    display: flex;
    flex-direction: column;
    font-size: 6.4rem;
    color: $color-primary;
    margin: 0 0 1rem 0;
    font-weight: 300;
    text-align: center;
    flex: 1;

    @media only screen and (max-width: $bp-msmall) {
        font-size: 4.8rem;
    }
}

.sub {
    font-weight: 300;
    font-size: 1.6rem;
    color: white;
    margin: 0;

    @media only screen and (max-width: $bp-medium) {
        display: none;
    }
}

.btn-start {

    &,
    &:link,
    &:visited {
        position: absolute;
        font-size: 2rem;
        background-color: transparent;
        padding: 1rem 3.5rem;
        font-weight: 600;
        text-transform: uppercase;
        color: $color-primary;
        border: 2px solid $color-primary;
        top: 50%;
        left: 50%;
        cursor: pointer;
        transform: translate(-50%, -50%);
        transition: all 0.5s;
        outline: none;
        z-index: 200;
    }



    &:hover,
    &:active {
        background-color: $color-primary;
        border: 2px solid $color-primary;
        color: black;
        outline: none;
        //transform: translateY(-1rem);
    }

}

#canvas {
    padding-left: 0;
    padding-right: 0;
    margin: 0 auto 0 auto;
    display: block;
    //border-top: 1px solid $color-primary;
    z-index: 100;

    @media only screen and (max-width: $bp-medium) {
        //margin: 0;
    }
}

footer {
    a {
        font-size: 1.6rem;
        color: white;
        font-weight: 300;
        position: fixed;
        z-index: 500;
        right: 3rem;
        bottom: 3rem;
        line-height: 1.7;
        text-decoration: none;
        transition: border-bottom 1s;
        border-bottom: 1px solid transparent;

        strong {
            color: $color-primary;
        }

        &:hover {
            border-bottom: 1px solid $color-primary;
        }
        
        @media only screen and (max-width: $bp-medium) {
            right: 1rem; 
            bottom: 1.6rem;
            font-size: 1.2rem;
        }
    }

}

.menu-box {
    display: flex;
    flex-direction: row;
    color: white; 
    border: 1px dotted $color-primary;
    padding: 0 1rem 0 1rem;
    width: 50%;

    .menu-help {
        color: inherit;
        width: 40%;
        border-right: 1px solid $color-primary;
        padding: 1rem 0 1rem 0;

        @media only screen and (max-width: $bp-msmall) {
            display: none;
        }
    }

    .menu-help__list {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        list-style: none;

        li {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            .menu-cmd {
                text-transform: uppercase;
                font-weight: 600;
                font-size: 1.4rem;
                letter-spacing: 1px;
            }

            .menu_desc {
                display: flex;
                width: 50%;
                color: lightgrey;
                justify-content: flex-start;
                font-size: 1.2rem;
                align-items: center;
            }
        }
    }

    .menu-settings {
        width: 60%;
        padding: 1rem 0 1rem 0;

        @media only screen and (max-width: $bp-msmall) {
            width: 100%;
        }
    }

    .menu-settings__list {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        list-style: none;

        li {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            padding: 0 1rem 0 1rem;

            @media only screen and (max-width: $bp-msmall) {
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;
                margin-bottom: 1.2rem;
            }

            .menu-cmd {
                display: flex;
                width: 50%;
                justify-content: flex-start;
                text-transform: uppercase;
                font-weight: 600;
                font-size: 1.2rem;
                letter-spacing: 1px;

                @media only screen and (max-width: $bp-msmall) {
                    width: 100%;
                    font-size: 1rem;
                }
            }

            input {
                width: 50%;

                @media only screen and (max-width: $bp-msmall) {
                    width: 100%;
                    font-size: 1rem;
                }
            }
        }
    }

    &__visible {
        z-index: 1000 !important;
        opacity: 1 !important;
    }

    @media only screen and (max-width: $bp-msmall) {
        display: flex;
        opacity: 0;
        z-index: -1000;
        padding-top: 2rem;
        position: fixed;
        width: auto;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.icon-close {

    display: none;

    @media only screen and (max-width: $bp-msmall) {
        display: block; 
        position: absolute;
        content: " ";
        padding: 1rem;
        border: 1px solid $color-primary;
        border-radius: 50%;
        width: 2rem; 
        height: 2rem;
        padding: 1rem; 
        top: 1rem;
        right: 1rem;
        transition: all 0.5s;

        &:hover {
            border: 1px solid white;
        }


        &::before, &::after {
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            content: " ";
            height: 1px;
            width: 1.2rem;
            background-color: $color-primary;
        }

        &::before {
            transform: translate(-50%, -50%) rotateZ(45deg); 
        }

        &::after {
            transform: translate(-50%, -50%) rotateZ(-45deg); 
        }
    }
}


.configs__icon {
    width: 4rem;
    height: 4rem;
    transition: all 0.5s;
    margin: 5px;
    // position: fixed;
    // top: 3em;
    // right: 3rem;
    border: 1px dotted transparent;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
    
    &:hover {
        border: 1px dotted white; // remove this later, looks ugly
    }
}

#icon-settings {
    display: none; 

    @media only screen and (max-width: $bp-msmall) {
        display: flex;
    }
}

// taken from http://danielstern.ca/range.css/#/
// as I had no time to do this myself 

input[type=range].slider {
    -webkit-appearance: none;
    width: 100%;
    margin: 5.85px 0;
  }
  input[type=range].slider:focus {
    outline: none;
  }
  input[type=range].slider::-webkit-slider-runnable-track {
    width: 100%;
    height: 5.3px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #75d8cd, 0px 0px 1px #89ded4;
    background: #75d8cd;
    border-radius: 0px;
    border: 0px solid #75d8cd;
  }
  input[type=range].slider::-webkit-slider-thumb {
    box-shadow: 0px 0px 1px #75d8cd, 0px 0px 0px #89ded4;
    border: 0px solid #75d8cd;
    height: 17px;
    width: 14px;
    border-radius: 11px;
    background: rgba(117, 216, 205, 0.93);
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -5.85px;
  }
  input[type=range].slider:focus::-webkit-slider-runnable-track {
    background: #9de3db;
  }
  input[type=range].slider::-moz-range-track {
    width: 100%;
    height: 5.3px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #75d8cd, 0px 0px 1px #89ded4;
    background: #75d8cd;
    border-radius: 0px;
    border: 0px solid #75d8cd;
  }
  input[type=range].slider::-moz-range-thumb {
    box-shadow: 0px 0px 1px #75d8cd, 0px 0px 0px #89ded4;
    border: 0px solid #75d8cd;
    height: 17px;
    width: 14px;
    border-radius: 11px;
    background: rgba(117, 216, 205, 0.93);
    cursor: pointer;
  }
  input[type=range].slider::-ms-track {
    width: 100%;
    height: 5.3px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range].slider::-ms-fill-lower {
    background: #4dcdbf;
    border: 0px solid #75d8cd;
    border-radius: 0px;
    box-shadow: 1px 1px 1px #75d8cd, 0px 0px 1px #89ded4;
  }
  input[type=range].slider::-ms-fill-upper {
    background: #75d8cd;
    border: 0px solid #75d8cd;
    border-radius: 0px;
    box-shadow: 1px 1px 1px #75d8cd, 0px 0px 1px #89ded4;
  }
  input[type=range].slider::-ms-thumb {
    box-shadow: 0px 0px 1px #75d8cd, 0px 0px 0px #89ded4;
    border: 0px solid #75d8cd;
    height: 17px;
    width: 14px;
    border-radius: 11px;
    background: rgba(117, 216, 205, 0.93);
    cursor: pointer;
    height: 5.3px;
  }
  input[type=range].slider:focus::-ms-fill-lower {
    background: #75d8cd;
  }
  input[type=range].slider:focus::-ms-fill-upper {
    background: #9de3db;
  }
  